body {
  font-family: sans-serif;
  text-align: center;
}

.menu-button, .back-button {
  padding: 10px 20px;
  margin: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  margin-right: 10px;
  text-align: center;
  text-align-last: center;
}

button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

#searchResults {
  margin-top: 10px;
}

textarea {
  width: 300px;
  height: 100px;
  resize: vertical;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
body {
  font-family: sans-serif;
  text-align: center;
}

.menu-button, .back-button {
  padding: 10px 20px;
  margin: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  text-align: center;/* Align items vertically */
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  margin-right: 10px; /* Add some space between select and button */
}

button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

#searchResults {
  margin-top: 10px;
}

textarea {
  width: 300px;
  height: 100px;
  resize: vertical;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
  margin-top: 20px;
}

.bvvvvrand-button {
  padding: 10px 20px;
  margin: 10px 0; /* Adjust margins for vertical spacing */
  background-color: #b74486;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 80%; /* Make buttons take up 80% of the container width */
  max-width: 300px; /* Set a maximum width for the buttons */
}

@media (min-width: 768px) { /* Responsive for larger screens */
  .bravvvvnd-button {
    width: 60%; /* Adjust width for larger screens */
  }
}


.brand-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 80%;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  }

.brand-button:hover {
   box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.brand-button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.brand-button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}